
import(RGtk2)
import(gWidgets)
import(gridBase)
#import(grid) ## gridBase needs grid attached
import(grDevices)
importFrom(graphics, par, plot)
import(utils)

# the main function
export(playwith,
       autoplay,
       plotOnePage)
S3method(print, playState)

# latticist
export(latticist,
       reorderByFreq,
       cutEq,
       try.prepanel.loess)
S3method(levelplot, table)

## latticeStyleGUI
export(latticeStyleGUI,
       latticeStyleToBasePar,
       panel.usertext,
       panel.brushpoints,
       latticeStyleDemo,
       custom.theme.2,
       custom.theme.black)

# settings
export(playwith.options,
       playwith.getOption)

# API
export(playNewPlot,
       playReplot,
       parameterControlTool,
       playDevCur,
       playDevSet,
       playDevList,
       playDevOff,
       playGetIDs,
       playUnlink,
       callArg,
       "callArg<-",
       mainCall,
       "mainCall<-",
       updateMainCall,
       playSourceCode,
       playDo,
       playFreezeGUI,
       playThawGUI,
       playPrompt,
       rawXLim,
       rawYLim,
       "rawXLim<-",
       "rawYLim<-")

## xyData
export(getDataArg,
       xyCoords,
       xyData,
       plotCoords,
       spaceCoordsToDataCoords,
       dataCoordsToSpaceCoords)
S3method(plotCoords, default)
S3method(plotCoords, qqnorm)
S3method(plotCoords, qqplot)
S3method(plotCoords, qqmath)
S3method(plotCoords, cloud)
S3method(labels, ts)
S3method(labels, zoo)

## clickOrDrag
export(playSelectData,
       playPointInput,
       playLineInput,
       playRectInput,
       whichSpace)

## gridwork
export(convertFromDevicePixels,
       convertToDevicePixels,
       inViewport,
       grobBBDevicePixels,
       showGrobsBB)
