
import(RGtk2)
import(gridBase)
importFrom(graphics, par, plot)
import(grDevices)
import(utils)

# the main function
export(
	playwith,
	autoplay
)

# latticist
export(
       latticist,
       panel.levelplot.points,
       reorderByFreq,
       cutEq,
       try.prepanel.loess)

# settings
export(
       playwith.options,
       playwith.getOption
)

# API
export(
       playNewPlot,
       playReplot,
       parameterControlTool,
       playDevCur,
       playDevSet,
       playDevList,
       playDevOff,
       playGetIDs,
       callArg,
       "callArg<-",
       mainCall,
       "mainCall<-",
       updateMainCall,
       playDo,
       playPointInput,
       playLineInput,
       playRectInput,
       playSelectData,
       whichSpace,
       deviceCoordsToSpace,
       playFreezeGUI,
       playThawGUI,
       blockRedraws,
       playPrompt,
       rawXLim,
       rawYLim,
       "rawXLim<-",
       "rawYLim<-",
       xyCoords,
       xyData,
       spaceCoordsToDataCoords,
       dataCoordsToSpaceCoords
       )

S3method(print, playState)

